<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Projet apprentissage</title>
  <link rel="stylesheet" href="../css/styles.css"> 
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  	
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div><!-- DEBUT -->
<div id="main_div">	
<h1 id="title">Projet Apprentissage</h1>	
	<div style="display:flex;">		
		<div id="grid">
		<h2>DRAW</h2>
		<table id="draw">
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>				
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>				
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>					
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>						
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>					
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>						
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>					
			</tr>
			<tr>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>
				<td class="white"></td>					
			</tr>			
		</table>
		<br />
			<div id="form_grid">		
				<button type="button" id="reset" class="btn btn-primary">Reset</button>
				<button type="button" id="send" class="btn btn-primary">Send</button>
			</div>
		</div>			
		<div id="results">
		<h2>RESULTS</h2>
		<table id="tab_results">
			<tr>
				<th>KVoisins</th>
				<th>Baye</th>
				<th>Reseau neurones</th>
			</tr>
			<tr id="min-height">
				<td><input class="form-control" type="text" placeholder="result"  disabled></td>
				<td><input class="form-control" type="text" placeholder="result"  disabled></td>
				<td><input class="form-control" type="text" placeholder="result"  disabled></td>
			</tr>
			<tr>
				<td>
					<table id="matrix1">
						<!-- generation des tr et des td en  js, voir tab_charg.js -->
					</table>
				</td>
				<td>
					<table id="matrix2">
						<!-- generation des tr et des td en  js, voir tab_charg.js -->
					</table>
				</td>
				<td>
					<table id="matrix3">
						<!-- generation des tr et des td en  js, voir tab_charg.js -->
					</table>
				</td>
			</tr>
		</table>
		<br />
		<div id="form_results">		
			<input type="text" placeholder="Correction" id="correct" class="form-control" />
			<button type="button" id="correct" class="btn btn-primary">Correct</button>			
		</div>
		</div>
	</div>
	<script src="../js/jquery.js"></script>
    <script src="../js/tab_charg.js"></script>
	<script src="../js/caseColor.js"></script>
</body>
</html>
